.word {
   padding: .5rem;
   display: inline-block;
   font-size: 1.5rem;
   border-radius: 5px;

   &.current {
      background: #f1f1f1;
   }

   &.correct {
      color: #3cde3c; //#66ff66; 
   }

   &.wrong {
      color: #ff1a1a;
   }

   &.error {
      background: #ff9999;
      color: #ff1a1a;
   }
}

input {
   font-size: 1.5rem;
   border: none;
   padding: .5rem;
}

.words {
   padding: 1rem;
   width: 900px;
}

.words-container {
   background: white;
   display: inline-block;
   border-radius: 5px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}

.toolbar {
   padding: 1rem;
   background: #eee;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   display: flex;
}